A95/A01_Win_Dev_19.2.6/App.MyMES/Connected Services/mesProductionOrderService/mesProductionOrder2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mesProductionOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualFinishTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActualStartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsLotAuditCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="PartID" type="xs:int" />
      <xs:element minOccurs="0" name="PriorityByERP" type="xs:int" />
      <xs:element minOccurs="0" name="ProductionOrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedFinishTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequestedStartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShippedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="UOM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mesProductionOrder" nillable="true" type="tns:mesProductionOrder" />
  <xs:complexType name="ArrayOfmesProductionOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mesProductionOrder" nillable="true" type="tns:mesProductionOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmesProductionOrder" nillable="true" type="tns:ArrayOfmesProductionOrder" />
</xs:schema>