A95/A01_Win/A01_Win_Dev/App.MyMES/Connected Services/luPartDetailDefService/luPartDetailDef1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="luPartDetailDef">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="luPartDetailDef" nillable="true" type="tns:luPartDetailDef" />
  <xs:complexType name="ArrayOfluPartDetailDef">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="luPartDetailDef" nillable="true" type="tns:luPartDetailDef" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfluPartDetailDef" nillable="true" type="tns:ArrayOfluPartDetailDef" />
</xs:schema>