A95/A01_Win/A01_Win_Dev/App.MyMES/Connected Services/luEmployeeGroupService/luEmployeeGroup1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="luEmployeeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="luEmployeeGroup" nillable="true" type="tns:luEmployeeGroup" />
  <xs:complexType name="ArrayOfluEmployeeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="luEmployeeGroup" nillable="true" type="tns:luEmployeeGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfluEmployeeGroup" nillable="true" type="tns:ArrayOfluEmployeeGroup" />
</xs:schema>