A95/A01_Win_Dev_19.2.6/App.MyMES/Connected Services/mesMaterialUnitService/mesMaterialUnit3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MesMaterialUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceQty" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreationTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiringTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinishTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LineID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LooperCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LotCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MPN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialDateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessNameID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RemainQTY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RollCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="TraceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MesMaterialUnit" nillable="true" type="tns:MesMaterialUnit" />
  <xs:complexType name="MesMaterialUnitDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LooperCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialUnitID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Reserved_01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_03" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_04" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_05" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_06" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_08" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_09" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_17" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_18" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_19" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved_20" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MesMaterialUnitDetail" nillable="true" type="tns:MesMaterialUnitDetail" />
  <xs:complexType name="ArrayOfMesMaterialUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MesMaterialUnit" nillable="true" type="tns:MesMaterialUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMesMaterialUnit" nillable="true" type="tns:ArrayOfMesMaterialUnit" />
</xs:schema>