A95/A01_Win_Dev_19.2.6/App.MyMES/Connected Services/mesMaterialUnitService/mesMaterialUnit2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55368/mesMaterialUnit.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/App.Model" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="model" nillable="true" type="q1:MesMaterialUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="model" nillable="true" type="q2:MesMaterialUnitDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserForParent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="model" nillable="true" type="q3:MesMaterialUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserForParentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserForParentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="model" nillable="true" type="q4:MesMaterialUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="GetResult" nillable="true" type="q5:MesMaterialUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="ListAllResult" nillable="true" type="q6:ArrayOfMesMaterialUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesMaterialUnitByLotCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LotCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesMaterialUnitByLotCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMesMaterialUnitByLotCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesMaterialUseQTY">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialUnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesMaterialUseQTYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMesMaterialUseQTYResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesMaterialUnitData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesMaterialUnitDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMesMaterialUnitDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>