A95/A95_Win_Dev/App.MyMES/Connected Services/luPartFamilyService/luPartFamily.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="luPartFamily">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartFamilyTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="luPartFamily" nillable="true" type="tns:luPartFamily" />
  <xs:complexType name="ArrayOfluPartFamily">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="luPartFamily" nillable="true" type="tns:luPartFamily" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfluPartFamily" nillable="true" type="tns:ArrayOfluPartFamily" />
</xs:schema>