A95/A01_Win/A01_Win_Dev/App.MyMES/Connected Services/mesPackageService/mesPackage1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mesPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrPartID" type="xs:int" />
      <xs:element minOccurs="0" name="CurrProductionOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentCount" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stage" type="xs:int" />
      <xs:element minOccurs="0" name="StationID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mesPackage" nillable="true" type="tns:mesPackage" />
  <xs:complexType name="ArrayOfmesPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mesPackage" nillable="true" type="tns:mesPackage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmesPackage" nillable="true" type="tns:ArrayOfmesPackage" />
</xs:schema>