A95/A95_Win_Dev/App.MyMES/Connected Services/luMachineFamilyTypeService/luMachineFamilyType2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="luMachineFamilyType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="luMachineFamilyType" nillable="true" type="tns:luMachineFamilyType" />
  <xs:complexType name="ArrayOfluMachineFamilyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="luMachineFamilyType" nillable="true" type="tns:luMachineFamilyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfluMachineFamilyType" nillable="true" type="tns:ArrayOfluMachineFamilyType" />
</xs:schema>