A95/A01_Win_Dev_19.2.6/App.MyMES/Connected Services/mesSerialNumberOfLineService/mesSerialNumberOfLineSVC1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mesSerialNumberOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstPrintTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastPrintTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrintCount" type="xs:int" />
      <xs:element minOccurs="0" name="SNCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mesSerialNumberOfLine" nillable="true" type="tns:mesSerialNumberOfLine" />
  <xs:complexType name="ArrayOfmesSerialNumberOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mesSerialNumberOfLine" nillable="true" type="tns:mesSerialNumberOfLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmesSerialNumberOfLine" nillable="true" type="tns:ArrayOfmesSerialNumberOfLine" />
</xs:schema>