A95/A01_Win_Dev_19.2.6/App.MyMES/Connected Services/mesRouteMachineMapService/mesRouteMachineMap2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mesRouteMachineMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MachineID" type="xs:int" />
      <xs:element minOccurs="0" name="RouteDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="RouteID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mesRouteMachineMap" nillable="true" type="tns:mesRouteMachineMap" />
  <xs:complexType name="ArrayOfmesRouteMachineMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mesRouteMachineMap" nillable="true" type="tns:mesRouteMachineMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmesRouteMachineMap" nillable="true" type="tns:ArrayOfmesRouteMachineMap" />
</xs:schema>