A95/A01_Win/A01_Win_Dev/App.MyMES/Connected Services/PartSelectService/PartSelectSVC2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55368/PartSelectSVC.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/App.Model" />
  <xs:element name="MESGetStationTypeParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESGetStationTypeParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MESGetStationTypeParameterResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSerialNumber2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSerialNumber2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSerialNumber2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MyTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyTestResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="P_DataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_Sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="P_DataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="P_DataSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_Sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecSqlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluPartFamilyType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluPartFamilyTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetluPartFamilyTypeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerIPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluPartFamily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartFamilyTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluPartFamilyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetluPartFamilyResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartFamilyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesPartResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesPartDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" type="xs:int" />
        <xs:element minOccurs="0" name="PartDetailDefName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesPartDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesPartDetailResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluPODetailDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductionOrderID" type="xs:int" />
        <xs:element minOccurs="0" name="PODetailDef" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluPODetailDefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetluPODetailDefResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesPartPrint">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesPartPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesPartPrintResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mesGetSNFormatIDByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="PartFamilyID" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="LineID" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mesGetSNFormatIDByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mesGetSNFormatIDByListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesLine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesLineResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mesLineGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LineType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartFamilyTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mesLineGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mesLineGroupResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsysStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsysStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetsysStatusResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesStationType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesStationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesStationTypeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesRoute">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesRouteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RouteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StationTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRouteSequenceResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesStationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesStationTypeByStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesStationTypeByStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesStationTypeByStationIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluSerialNumberType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluSerialNumberTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetluSerialNumberTypeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnitResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnit2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="POID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnit2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnit2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMachineHistoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnit_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_DateStart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_DateEnd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnit_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnit_SearchResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnitComponentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesUnitDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesUnitDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesUnitDetailResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHistoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesUnitState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_RouteSequence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LineID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StationTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesUnitStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesUnitStateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesSerialNumberOfLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SNCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrintCount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesSerialNumberOfLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesSerialNumberOfLineResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesSerialNumberByUnitID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesSerialNumberByUnitIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesSerialNumberByUnitIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_StatusID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPOResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_LineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPOAllResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_RouteSequence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LineID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StationTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRouteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationTypeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluDefect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DefectTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluDefectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetluDefectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluUnitStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluUnitStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetluUnitStatusResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesUnitDefect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesUnitDefectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesUnitDefectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspSNRGetNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSNFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReuseSNByStation" type="xs:int" />
        <xs:element minOccurs="0" name="xmlProdOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlStation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlExtraData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNextSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspSNRGetNextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uspSNRGetNextResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartDetailDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartDetailDefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPartDetailDefResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MachineRouteMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_ToolSN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_ProductPartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_RouteID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_StationTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MachineRouteMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_MachineRouteMapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Scan_StationTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="Scan_StationID" type="xs:int" />
        <xs:element minOccurs="0" name="LineID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DT_Unit" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="S_Str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRouteCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_UnitID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_UnitIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_UnitIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CreateMesSN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSNFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlProdOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlStation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlExtraData" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="v_mesUnit" nillable="true" type="q1:mesUnit" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="dsSN" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CreateMesSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_CreateMesSNResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dsSN" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxSnToBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_BoxSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxSnToBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BoxSnToBatchResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="S_Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParentPartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StationTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComponentCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesUnitComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ChildUnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesUnitComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesUnitComponentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesProductStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParentPartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StationTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesProductStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesProductStructureResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesProductStructure1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParentPartID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesProductStructure1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesProductStructure1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesProductStructure2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParentPartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StationTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesProductStructure2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesProductStructure2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildScanLast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildScanLastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChildScanLastResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_POID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModPOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_SN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsUpUnitDetail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModMachineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModMachine2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModMachine2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductionOrderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesPackageStatusID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PalletSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesPackageStatusIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMesPackageStatusIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesSerialNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesSerialNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesSerialNumberResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesUnitResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="I_ChildUnitID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComponentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesMachineResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesRouteMachineMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MachineID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MachineFamilyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmesRouteMachineMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmesRouteMachineMapResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSNParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" type="xs:int" />
        <xs:element minOccurs="0" name="TemplateType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSNParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSNParameterResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLBLGenLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_SN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_LabelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLBLGenLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLBLGenLabelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationTypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartFamilyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductionOrderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLabelNameResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuckToFGSN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_BuckSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuckToFGSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuckToFGSNResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPLCSeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_SetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_StationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPLCSetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPLCSetingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationTypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TimeCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPartParameterResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluDefectType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetluDefectTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetluDefectTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspKitBoxCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_FormatName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlProdOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlStation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlExtraData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSNbuf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspKitBoxCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uspKitBoxCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspKitBoxPackaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductionOrderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_UPCSN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_CartonSN" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="LoginList" nillable="true" type="q2:LoginList" />
        <xs:element minOccurs="0" name="BoxQty" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspKitBoxPackagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uspKitBoxPackagingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspPalletCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_FormatName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlProdOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlStation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlExtraData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSNbuf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspPalletCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uspPalletCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspPalletPackaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductionOrderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_CartonSN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_PalletSN" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="loginList" nillable="true" type="q3:LoginList" />
        <xs:element minOccurs="0" name="PalletQty" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspPalletPackagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uspPalletPackagingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionOrderDetailDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductionOrderNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionOrderDetailDefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductionOrderDetailDefResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CreatePackageSN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_FormatName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlProdOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlStation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlExtraData" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="v_mesUnit" nillable="true" type="q4:mesUnit" />
        <xs:element minOccurs="0" name="strSN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CreatePackageSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_CreatePackageSNResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PackageData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PackageDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_PackageDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PalletData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PalletDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_PalletDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SearchData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_FormatName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlProdOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlStation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlExtraData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSNbuf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutput" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SearchDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_SearchDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="strOutput" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspCallProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pro_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="S_FormatName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlProdOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlStation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlExtraData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSNbuf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOutput" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uspCallProcedureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uspCallProcedureResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="strOutput" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PartParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PartParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_PartParameterResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESGetBomPartInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParentPartID" type="xs:int" />
        <xs:element minOccurs="0" name="StationTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESGetBomPartInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MESGetBomPartInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESAssembleCheckMianSN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductionOrderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LineID" type="xs:int" />
        <xs:element minOccurs="0" name="StationID" type="xs:int" />
        <xs:element minOccurs="0" name="StationTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESAssembleCheckMianSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MESAssembleCheckMianSNResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESAssembleCheckOtherSN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESAssembleCheckOtherSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MESAssembleCheckOtherSNResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESAssembleCheckVirtualSN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESAssembleCheckVirtualSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MESAssembleCheckVirtualSNResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESModifyUnitDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnitID" type="xs:int" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESModifyUnitDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MESGetUnitUnitStateID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MESGetUnitUnitStateIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MESGetUnitUnitStateIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>