A95/A01_Win_Dev_19.2.6/App.MyMES/Connected Services/mesRouteService/mesRoute2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mesRoute">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XMLRoute" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mesRoute" nillable="true" type="tns:mesRoute" />
  <xs:complexType name="ArrayOfmesRoute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mesRoute" nillable="true" type="tns:mesRoute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmesRoute" nillable="true" type="tns:ArrayOfmesRoute" />
</xs:schema>