A95/A95_Win_Dev/App.MyMES/Connected Services/mesRouteMapService/mesRouteMap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mesRouteMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="PartFamilyID" type="xs:int" />
      <xs:element minOccurs="0" name="PartID" type="xs:int" />
      <xs:element minOccurs="0" name="RouteID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mesRouteMap" nillable="true" type="tns:mesRouteMap" />
  <xs:complexType name="ArrayOfmesRouteMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mesRouteMap" nillable="true" type="tns:mesRouteMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmesRouteMap" nillable="true" type="tns:ArrayOfmesRouteMap" />
</xs:schema>