A95/A95_Win_Dev/App.MyMES/Connected Services/mesHistoryService/mesHistory2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mesHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EnterTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExitTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LooperCount" type="xs:int" />
      <xs:element minOccurs="0" name="PartID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductionOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="StationID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitStateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mesHistory" nillable="true" type="tns:mesHistory" />
  <xs:complexType name="ArrayOfmesHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mesHistory" nillable="true" type="tns:mesHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmesHistory" nillable="true" type="tns:ArrayOfmesHistory" />
</xs:schema>