A95/A01_Win_Dev_19.2.6/App.MyMES/Connected Services/mesSerialNumberService/mesSerialNumber2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mesSerialNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="SerialNumberTypeID" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="UnitID" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mesSerialNumber" nillable="true" type="tns:mesSerialNumber" />
  <xs:complexType name="ArrayOfmesSerialNumber">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mesSerialNumber" nillable="true" type="tns:mesSerialNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmesSerialNumber" nillable="true" type="tns:ArrayOfmesSerialNumber" />
</xs:schema>