A95/A01_Win_Dev_19.2.6/App.MyMES/Connected Services/mesUnitService/mesUnit2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55368/mesUnit.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/App.Model" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="model" nillable="true" type="q1:mesUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="model" nillable="true" type="q2:mesUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="model" nillable="true" type="q3:mesUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="GetResult" nillable="true" type="q4:mesUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="GetUnitResult" nillable="true" type="q5:mesUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S_Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="ListAllResult" nillable="true" type="q6:ArrayOfmesUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlasma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StationID" type="xs:int" />
        <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LineID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlasmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlasmaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUnitStateID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="v_mesUnit" nillable="true" type="q7:mesUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUnitStateIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUnitStateIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTTUnitStateID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/App.Model" minOccurs="0" name="v_mesUnit" nillable="true" type="q8:mesUnit" />
        <xs:element minOccurs="0" name="PanelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTTUnitStateIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTTUnitStateIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>