A95/A01_Win/A01_Win_Dev/App.MyMES/Connected Services/mesProductStructureService/mesProductStructure2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mesProductStructure">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsCritical" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParentPartID" type="xs:int" />
      <xs:element minOccurs="0" name="PartID" type="xs:int" />
      <xs:element minOccurs="0" name="PartPosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mesProductStructure" nillable="true" type="tns:mesProductStructure" />
  <xs:complexType name="ArrayOfmesProductStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mesProductStructure" nillable="true" type="tns:mesProductStructure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmesProductStructure" nillable="true" type="tns:ArrayOfmesProductStructure" />
</xs:schema>