A95/A01_Win_Dev_19.2.6/App.MyMES/Connected Services/luApplicationTypeService/luApplicationType1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="luApplicationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="luApplicationType" nillable="true" type="tns:luApplicationType" />
  <xs:complexType name="ArrayOfluApplicationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="luApplicationType" nillable="true" type="tns:luApplicationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfluApplicationType" nillable="true" type="tns:ArrayOfluApplicationType" />
</xs:schema>