A95/A01_Win/A01_Win_Dev/App.MyMES/Connected Services/mesUnitComponentService/mesUnitComponent1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mesUnitComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildLotNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildPartFamilyID" type="xs:int" />
      <xs:element minOccurs="0" name="ChildPartID" type="xs:int" />
      <xs:element minOccurs="0" name="ChildSerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildUnitID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InsertedEmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="InsertedStationID" type="xs:int" />
      <xs:element minOccurs="0" name="InsertedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviousLink" type="xs:int" />
      <xs:element minOccurs="0" name="RemovedEmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="RemovedStationID" type="xs:int" />
      <xs:element minOccurs="0" name="RemovedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="UnitComponentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mesUnitComponent" nillable="true" type="tns:mesUnitComponent" />
  <xs:complexType name="ArrayOfmesUnitComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mesUnitComponent" nillable="true" type="tns:mesUnitComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmesUnitComponent" nillable="true" type="tns:ArrayOfmesUnitComponent" />
</xs:schema>